@import "../../res/styles/_required";
@import '../../res/common.json';

#securityBgContainer {
  margin: 0 -0.375rem;

  .securityBgLink {
    margin: 0.375rem;
    cursor: pointer;

    .securityBgItem {
      position: relative;
      height: 80px;
      width: 80px;
      border-radius: 40px;
      border: 2px solid $gray-300;
      background-color: $white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 48px;

      @each $name, $color in $securityColors {
        &.color.#{$name} {
          background-color: #{map-get($color, "bg")};
          border-color: #{map-get($color, "icon")};
        }
      }
    }

    &:hover {
      .securityBgItem.symbol {
        border-color: mix($black, $gray-300, 2 * $theme-color-interval);
      }
    }

    @at-root #securityBgContainer .securityBgLink:hover.active, #securityBgContainer .securityBgLink:active {
      .securityBgItem.symbol {
        border-color: theme-color-level('primary', -6);
      }
    }

    &.active {
      .securityBgItem {
        &::after {
          position: absolute;
          height: 20px;
          width: 20px;
          bottom: 8px;
          right: 0px;
        }

        &.symbol {
          border-color: theme-color-level('primary', -10);  
        }      
      }
    }

  }

}
